<div class="cnt-princ">
  <div class="cnt-title">
    <h1>Contratos</h1>
    <p>
      En FurryMatch nos tomamos en serio tu seguridad y la de tus mascotas.<br />Es por eso que en esta sección tenés la posibilidad de
      crear contratos que podrás personalizar antes de realizar el cruce de tu mascota
    </p>
  </div>
  <div class="cnt-dates">
    <div class="login-wrapper">
      <ng-container *ngFor="let petEntry of getPetDataValues()">
        <div class="pet-row">
          <div class="pet-entry">
            <div class="contract-with">Mi contrato con {{ petEntry.pet.name }}</div>
            <img *ngIf="petEntry.photo?.photoUrl" [src]="petEntry.photo?.photoUrl" alt="Pet photo" class="img-objective" />
            <div class="txt-pet">
              <div class="objective-text">
                {{ petEntry.pet.name }}
              </div>
            </div>
          </div>
          <div *ngIf="!petEntry.contract" class="content-wrapper">
            <span class="content-text">
              <h1 class="h1-black">¡Creá un contrato!</h1>
              <p>
                <span class="tip">Tip:</span> Antes de comenzar, te recomendamos que te pongas de acuerdo con el otro dueño(a) para poder
                crear un contrato en la que ambas partes estén satisfechas.
              </p>
            </span>
            <button class="btn-blue" (click)="saveMatchPet(petEntry.matchId, petEntry.ownerId, petEntry.pet.id)">Crear contrato</button>
          </div>
          <div *ngIf="isOtherUserCreatingContract(petEntry)" class="content-wrapper">
            <span class="content-text">
              <h1 class="h1-black">¡Tu contrato está siendo generado!</h1>
              <p>
                El otro dueño(a) está creando un nuevo contrato.<br />En cuanto esté generado, te avisaremos para que podás revisarlo en tu
                corro electrónico.
              </p>
            </span>
          </div>
          <div *ngIf="isCurrentUserCreatingContract(petEntry)" class="update-confirm-contract">
            <span class="content-text">
              <h1 class="h1-black">¡Tu contrato está casi listo!</h1>
              <p>
                <span class="tip">Tip:</span> Revisa el contrato en tu correo electrónico.<br />Si hay algún detalle que cambiar, hacé clikc
                en Editar contrato.<br />Si está todo bien, dale click en Confirmar y enviar para enviarlo al otro dueño(a).
              </p>
              <button class="btn-palid-orange" [routerLink]="['/contract', petEntry.contract?.id, 'edit']">Editar contrato</button>
              <button class="btn-blue" (click)="sendEmail(petEntry.matchId, petEntry.ownerId, petEntry.pet.id, petEntry.contract?.id)">
                Confirmar y enviar
              </button>
            </span>
          </div>
          <div *ngIf="isOtherUserSendingContract(petEntry)" class="content-wrapper">
            <span class="content-text">
              <h1 class="h1-black">¡Tienes un contrato en tu correo electrónico!</h1>
              <p>
                <span class="tip">Tip:</span> Te recomendamos que leás el contrato con detenimiento y si todo está en order, imprimirlo para
                que ambas partes lo firmen si están de acuerdo en cada uno de sus puntos.Además, como medida de precaución, recomendamos
                también imprimir fotocopias de la cédula de identidad de ambas partes para corroborar las identidades.
              </p>
            </span>
          </div>
          <div *ngIf="isCurrentUserSendingContract(petEntry)" class="content-wrapper">
            <span class="content-text">
              <h1 class="h1-black">¡Felicidades!<br />Tu contrato ha sido creado y enviado</h1>
              <p>
                <span class="tip">Tip:</span> Te recomendamos imprimir el contrato y firmarlo si ambos están de acuerdo en cada uno de sus
                puntos. Además, como medida de precaución, recomendamos también imprimir fotocopias de la cédula de identidad de ambas
                partes para corroborar las identidades.
              </p>
            </span>
          </div>
        </div>
      </ng-container>
      <div *ngIf="!matchedPetsAndContracts || matchedPetsAndContracts.length === 0">
        <h1 *ngIf="!isLoading" class="no-contract">No tienes ningún contrato.</h1>
        <h1 *ngIf="isLoading" class="no-contract">Cargando...</h1>
      </div>
    </div>
  </div>
</div>
