<div class="cnt-princ">
  <div class="cnt-sec">
    <h1 class="title">Mensajes</h1>
    <div class="secondary-text">¡Chatea con tus amistades humanas para conocer nuevas amistades peludas!</div>
  </div>
  <div>
    <div class="wrapper">
      <div class="list-wrapper">
        <div *ngFor="let chat of chatArrays" (click)="onRecipientClick(chat)">
          <div class="list-chat-wrapper">
            <div class="image">
              <img
                src="{{ chat.photo }}"
                class="img-profile"
                [ngClass]="{ 'img-profile-border': unreadMatchIds.includes(parseInt(chat.identityNumber || '', 10)) }"
              />
            </div>
            <div class="text-name">
              {{ chat.firstName }} {{ chat.firstLastName }}
              <div class="last-message">
                {{ chat.message?.substring(0, 20) }}
              </div>
            </div>
            <div class="trash-icon" (click)="delete(chat.identityNumber); $event.stopPropagation()">
              <img src="../content/images/delete_icon.png" />
            </div>
          </div>
        </div>
      </div>
      <div class="chat-wrapper">
        <div class="chat-window-container">
          <jhi-chat-window
            *ngIf="selectedRecipient"
            [recipient]="selectedRecipient"
            [identityNumber]="selectedMatchId"
            (changeMessage)="changeMessage($event)"
            (close)="onChatWindowClose()"
          ></jhi-chat-window>
        </div>
      </div>
    </div>
  </div>
</div>
