.login-wrapper {
  display: flex;
  justify-content: space-around;
  margin: 10% 10% 1.5% 10%;
}
h1 {
  font-weight: normal;
}
.objective-type {
  position: absolute;
  width: 52px;
  height: 52px;
  left: 86px;
  top: 163px;
}

.pet-detail {
  position: absolute;
  width: 295px;
  height: 586px;
  left: 570px;
  top: 304px;
}
.img-objective {
  width: 295px;
  height: 400px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
  display: inline-block;
  vertical-align: top;
}

.pet-breed {
  font-weight: normal;
  font-size: 14px;
}
.objective-txt {
  position: absolute;
  top: 171px;
  width: 391px;
  height: 58px;
  left: 160px;
  color: #3381f6;
  font-weight: bold;
}
.txt-pet {
  display: flex;
  justify-content: left;
  text-align: left !important;
  width: 295px;
  height: 83px;
  color: var(--clr-white);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.objective-text {
  font-family: 'Montserrat';
  margin: 15px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 111%;
}

.title-txt {
  font: var(--typo-title-small);
  color: var(--clr-orange);
}

.image-and-text {
  display: inline-block;
}
.image-and-text img {
  vertical-align: middle;
}

.like-btns {
  width: 99px;
  height: 99px;
  margin: 0 8px 10px 8px;
}

.no-more-pets-message {
  margin: 15% 0 20% 0;
  color: var(--clr-orange);
  font: var(--typo-title);
}
