<div class="terms-and-conditions overlay">
  <div class="content">
    <div class="cnt-center">
      <img class="logo" src="content/images/LogoFullBlue.png" />
    </div>
    <h2 class="title cnt-center">Aceptación de los Términos y Condiciones</h2>
    <h5 class="date cnt-center">Última actualización: 25/04/2023</h5>
    <p>
      Al utilizar nuestra aplicación, usted acepta cumplir con estos términos y condiciones. Si no está de acuerdo con estos términos, no
      utilice nuestra aplicación.
    </p>

    <h3>Uso de la aplicación</h3>
    <p>
      Nuestra aplicación está diseñada para ayudar a los usuarios a encontrar propiedades y conectarse con propietarios. No nos hacemos
      responsables de cualquier información incorrecta o inexacta proporcionada por los usuarios o propietarios. Usted es responsable de
      verificar la información y tomar sus propias decisiones al utilizar nuestra aplicación.
    </p>

    <h3>Privacidad y Protección de Datos</h3>
    <p>
      Respetamos la privacidad de nuestros usuarios y nos comprometemos a proteger sus datos personales. Por favor, consulte nuestra
      política de privacidad para obtener más información sobre cómo recopilamos, utilizamos y protegemos sus datos.
    </p>

    <h3>Propiedad Intelectual</h3>
    <p>
      Todos los derechos de propiedad intelectual de nuestra aplicación, incluyendo pero no limitado a, el diseño, texto, gráficos,
      logotipos y cualquier otro contenido, son propiedad de nuestra empresa o de sus respectivos titulares. No se permite la copia,
      reproducción, modificación, distribución o uso comercial sin nuestro consentimiento previo por escrito.
    </p>

    <h3>Enlaces a Terceros</h3>
    <p>
      Nuestra aplicación puede contener enlaces a sitios web de terceros. No nos responsabilizamos por el contenido, políticas de privacidad
      o prácticas de estos sitios. Al utilizar estos enlaces, usted acepta y asume el riesgo asociado con el acceso a sitios web de
      terceros.
    </p>

    <h3>Modificación de los Términos y Condiciones</h3>
    <p>
      Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento sin previo aviso. Al continuar utilizando
      nuestra aplicación después de cualquier modificación, usted acepta cumplir con los términos y condiciones modificados.
    </p>

    <h3>Indemnización</h3>
    <p>
      Usted acepta indemnizar y eximir de responsabilidad a nuestra empresa, sus empleados y directores, de cualquier reclamación, daño,
      pérdida, responsabilidad o gasto, incluyendo honorarios legales razonables, que surjan de su uso de nuestra aplicación o violación de
      estos términos y condiciones.
    </p>

    <h3>Legislación Aplicable</h3>
    <p>
      Estos términos y condiciones se rigen e interpretan de acuerdo con las leyes del país en el que se encuentra nuestra empresa.
      Cualquier disputa que surja de estos términos y condiciones estará sujeta a la jurisdicción exclusiva de los tribunales de dicho país.
    </p>
    <p>Al hacer clic en "Aceptar", aceptas nuestros términos y condiciones.</p>
    <div class="cnt-center">
      <button class="btn-blue" (click)="accept()">Aceptar</button>
    </div>
  </div>
</div>
